// Variables and other configuration.

// Import Sass/Compass components.
@import "compass/typography/links";
@import "compass/typography/lists";

// Disable IE support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;

// Lucida is nice and readable on Macs.
// We probably want something else for other OS'es.
$base-font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$base-font-size: 14px;

// Colours
// We pick a base colour/hue and mix it into almost everything.
$base-hue: 207;
$base-color: hsl($base-hue, 61%, 71%);
$black: hsl($base-hue, 70%, 5%);
$white: hsl($base-hue, 5%, 97%);

// Miscellaneous colours.
$border-color: hsl($base-hue, 10%, 70%);
$link-color: hsl($base-hue, 70%, 50%);
$link-hover-color: hsl($base-hue, 70%, 70%);
$gradient-bottom: hsl($base-hue, 10%, 87%);
$gradient-top: hsl($base-hue, 10%, 95%);
$quiet: hsl($base-hue, 10%, 57%);

// Odds and ends.
$indent-amount: 28px;
