// Page-wide style rules.

body {
  background-color: $white;
  color: $black;
}

// Generic link styling.
a {
  @include hover-link;
  @include link-colors($link-color, $link-hover-color);
}

// double table wrap to avoid hitting the "layout" table.
table table {
  // Stripe every other row subtly.
  tr:nth-child(2n) {
    background-color: rgba($black, 0.1);
  }
}

// Logged in as...
#company_info {
  color: $quiet;
  font-size: 11px;
  text-align: center;
}

